.time-page .main {
  background-image: url("../img/time.jpg");
}
.time {
  background-color: rgba(0, 0, 0, 0.288);
  width: 450px;
  padding: 30px;
  font-size: 50px;
}
.time__current {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time__current-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.time__current-wrapper span {
  width: 50px;
}
